/* Imports - Ao importar as seções de outros arquivos css, ele se intega com o principal */
@import url("./header.css");
@import url("./footer.css");

/* varives */
:root {
  /* colores */
  --primary-color: "";
  --secondary-color: "";
  --dark: " ";
  --light: " ";

  /* espaçamentos */

  --paddingX: clamp(0.5rem, -0.0714rem + 2.8571vw, 2.5rem);
  --paddingY: "";
  --marginX: "";
  --marginY: "";
  --gap: "";

  /* textos */

  --title: "";
  --subtitle: "";
  --paragraph: "";
}

/* configurações gerais */

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

html,
body {
  overflow-x: hidden;
}

/* layout */
.container {
  max-width: 1334px;
  padding-left: var(--paddingX);
  padding-right: var(--paddingX);
  margin: 0 auto;
}

.row {
  border: 1px solid red;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 12px;
  width: 100%;
}

.col {
  flex-grow: 1;
}

/* componentes */
.btn-primary {
}
