/* Imports - Ao importar as seções de outros arquivos css, ele se intega com o principal */
@import url("./header.css");
@import url("./hero.css");
@import url("./footer.css");
@import url("./results.css");
@import url("./testemonials.css");
@import url("./why-choose-us.css");
@import url("./courses.css");
@import url("./services.css");
@import url("./footer.css");

/* varives */
:root {
  /* cores */
  --primary-color: #feae11;
  --secondary-color: #152536;
  --light_primary: #fff;
  --light_secondary: #f0f0f0;
  --background_site: #dee2e6;

  /* espaçamentos */

  --paddingX: clamp(0.5rem, -0.0714rem + 2.8571vw, 2.5rem);
  --paddingY: 80px;
  --marginX: "";
  --marginY: "";
  --gap: "";

  /* textos */

  --title-size: clamp(2.625rem, 2.0893rem + 2.6786vw, 4.5rem);
  --subtitle-size: clamp(2rem, 1.4643rem + 2.6786vw, 3.875rem);
  --paragraph-size: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
}

/* configurações gerais */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--background_site);
}

/* layout */
.container {
  max-width: 1334px;
  padding-left: var(--paddingX);
  padding-right: var(--paddingX);
  margin: 0 auto;
}

.row {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 12px;
  width: 100%;
}

.col {
  flex-grow: 1;
}

/* componentes */
.btn-primary {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--light_secondary);
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  height: 40px;
  width: 200px;
  font-weight: bold;
}
