#results {
  position: relative;
  background-color: var(--background_site);
  padding-top: 80px;
  padding-bottom: 80px;
}

.results__courosel {
  display: grid;
  grid-template-areas:
    "first-model  ."
    ". second-model"
    "third-model .  ";
  width: 100%;
}

.results__model-card {
  display: flex;
  position: relative;
  width: clamp(16.625rem, -4.8036rem + 44.6429vw, 35.375rem);
  height: fit-content;
}

.results__model-card:nth-child(1) {
  grid-area: first-model;
  bottom: -40%;
  margin-left: clamp(5rem, 7.1429rem + -4.4643vw, 3.125rem);
}
.results__model-card:nth-child(2) {
  grid-area: second-model;
  margin-top: clamp(-3.125rem, 0.4464rem + -7.4405vw, -6.25rem);
}

.results__model-card:nth-child(3) {
  grid-area: third-model;
  top: -40%;
  margin-left: clamp(5rem, 7.1429rem + -4.4643vw, 3.125rem);
}

.results__model-card .background-img {
  width: 100%;
  height: clamp(12.5rem, -1.7857rem + 29.7619vw, 25rem);
}

.results__model-card__first-doted-background,
.results__model-card__yellow-background,
.results__model-card__second-doted-background {
  position: absolute;
  z-index: 0;
}

.results__model-card__first-model,
.results__model-card__second-model,
.results__model-card__third-model {
  position: relative;
  z-index: 1;
}

.results__model-card__first-model img,
.results__model-card__second-model img,
.results__model-card__third-model img {
  width: 100%;
}

.results__model-card__first-doted-background {
  top: -15px;
  left: -15px;
}

.results__model-card__yellow-background {
  bottom: -10px;
  right: -20px;
}

.results__model-card__second-doted-background {
  bottom: -10px;
  right: -20px;
}

.results__heading-card {
  position: absolute;
  background-color: var(--light_primary);
  border-radius: 8px;
  border: 1px solid rgba(90, 90, 90, 0.274);
  width: clamp(26.25rem, 20.5357rem + 11.9048vw, 31.25rem);
  padding: 20px clamp(1.25rem, -0.1786rem + 2.9762vw, 2.5rem) 20px 20px;
  z-index: 3;
  right: clamp(0.625rem, -12.9464rem + 28.2738vw, 12.5rem);
  top: clamp(12.5rem, -12.5rem + 52.0833vw, 34.375rem);
}
.results__heading-card h1 {
  font-size: var(--title-size);
  color: var(--secondary-color);
}
.results__heading-card h1 strong {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  #results {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .results__courosel {
    grid-template-areas:
      " title-area . . "
      "first-model   second-model  third-model";

    gap: min(10%, 10px);
    overflow-x: scroll !important;
    overflow-y: hidden;
  }

  .results__model-card {
    width: 220px;
  }

  .results__model-card:nth-child(1) {
    grid-area: first-model;
    bottom: 0px;
    margin-left: 0px;
  }
  .results__model-card:nth-child(2) {
    grid-area: second-model;
    margin-top: 0px;
  }

  .results__model-card:nth-child(3) {
    grid-area: third-model;
    top: 0px;
    margin-left: 0px;
  }

  .results__model-card .background-img {
    width: 100%;
    height: 150px;
  }

  .results__model-card__first-doted-background {
    top: auto;
    bottom: -5px;
    right: -5px;
    left: auto;
  }

  .results__model-card__yellow-background {
    bottom: -5px;
    right: -5px;
  }

  .results__model-card__second-doted-background {
    bottom: -5px;
    right: -5px;
  }

  .results__heading-card {
    grid-area: title-area;
    width: 300px;
    padding: 20px clamp(1.25rem, -0.1786rem + 2.9762vw, 2.5rem) 20px 20px;
    position: absolute;
    left: 10px;
    top: 5px;
  }
  .results__heading-card h1 {
    font-size: 42px;
  }
}
